<div class="cost-group">
  <div class="cost-group_header">
    <div class="cost-group_header--cost-name">
      <p>{{ costGroup.name }}</p>
    </div>
    <div class="cost-group_header--account-code">
      <p>
        Account code
      </p>
    </div>
    <div class="cost-group_header--quoted">
      <p>
        Quoted
      </p>
    </div>
    <div class="cost-group_header--screened">
      <p>
        Screened
      </p>
    </div>
    <div class="cost-group_header--empty"></div>
  </div>

  <div class="cost-group_single-cost">
    <app-single-cost
      *ngFor="let singleCost of costGroup.costItems"
      [cost]="singleCost"
      [daCurrency]="daCurrency"
      [selectedCurrency]="selectedCurrency"
      [exchangeRates]="exchangeRates"
    >
    </app-single-cost>
    <div class="cost-group_total-container">
      <div class="cost-group_total-container--cost-name cost-group_total-flex-row">
        <p class="cost-group_total-text"><strong>Total</strong></p>
      </div>
      <div class="cost-group_content-container--account-code cost-group_total-flex-row">
      </div>
      <div class="cost-group_total-container--quoted cost-group_total-flex-column">
        <p class="cost-group_total-text">
          <span class="cost-group_total-text--secondary">{{ selectedCurrency }}</span> {{ totalQuotedCost | amount }}
        </p>
        <p class="cost-group_total-text--secondary">
          USD {{ totalQuotedCostInUSD | amount }}
        </p>
      </div>
      <div class="cost-group_total-container--screened cost-group_total-flex-column">
        <p class="cost-group_total-text">
          <span class="cost-group_total-text--secondary">{{ selectedCurrency }}</span> {{ totalScreenedCost | amount }}
        </p>
        <p class="cost-group_total-text--secondary">
          USD {{ totalScreenedCostInUSD | amount }}
        </p>
      </div>
      <div class="cost-group_total-container--empty">
      </div>
    </div>
  </div>
</div>
