@import "../../../assets/styles/variables";

.single-cost {
  &_content-container {
    display: grid;
    grid-template-columns: 1fr 2fr 0.6fr 0.6fr 0.8fr;
    grid-template-rows: 1fr;
    gap: 0 10px;
    grid-template-areas: 'single-cost_content-container--cost-name single-cost_content-container--account-code single-cost_content-container--quoted single-cost_content-container--screened single-cost_content-container--empty';

    padding: 0 10px;
  }

  &_content-flex-row {
    display: flex;
    align-items: center;
  }

  &_content-flex-column {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  &_content-text {
    color: $primary-text-color;
    font-size: $primary-text-size;
    margin: 10px 0;
  }

  &_input-container {
    position: relative;
    margin-top: 10px;

  }

  &_input-currency {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15%, 25%);
    color: $primary-text-color;
    font-size: $primary-text-size;
  }

  &_input {
    text-align: right;
  }
}

