$primary-blue: #187ead;
$secondary-blue: #edf7fc;
$primary-white: #fff;

$header-text-color: #135068;
$primary-text-color: #1d282d;
$border-color: #d5e0e5;

$primary-text-size: 12px;
$secondary-text-size: 10px;
