$primary-blue: #187ead;
$secondary-blue: #edf7fc;
$primary-white: #fff;
$primary-gray: #d5e0e5;

$header-text-color: #135068;
$primary-text-color: #1d282d;
$secondary-text-color: #94a0a6;

$border-color: $primary-gray;

$primary-text-size: 14px;
$secondary-text-size: 12px;
